game_main_A/.vs/game_main_A/CopilotIndices/17.14.1518.61961/CodeChunks.db
game_main_A/.vs/game_main_A/CopilotIndices/17.14.1518.61961/CodeChunks.db-shm
game_main_A/.vs/game_main_A/CopilotIndices/17.14.1518.61961/CodeChunks.db-wal
game_main_A/.vs/game_main_A/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
game_main_A/.vs/game_main_A/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-shm
game_main_A/.vs/game_main_A/FileContentIndex/2a2d9350-79d1-46f6-bb77-302119f43fc8.vsidx
game_main_A/.vs/game_main_A/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-wal
game_main_A/.vs/game_main_A/FileContentIndex/3f757002-5e19-42d6-a95f-90e49752b29d.vsidx
game_main_A/.vs/game_main_A/FileContentIndex/44892150-d852-43b0-8e79-c60cd556b8a8.vsidx
game_main_A/.vs/game_main_A/FileContentIndex/5342150f-758c-4cfe-8d1c-8fbf5c2ffc9f.vsidx
game_main_A/.vs/game_main_A/FileContentIndex/8863e93e-95c6-43b3-be89-2d96c9fde942.vsidx
game_main_A/.vs/game_main_A/v17/.suo
game_main_A/.vs/game_main_A/v17/Browse.VC.db-shm
game_main_A/.vs/game_main_A/v17/Browse.VC.db
game_main_A/.vs/game_main_A/v17/Browse.VC.db-wal
game_main_A/.vs/game_main_A/v17/DocumentLayout.backup.json
game_main_A/.vs/game_main_A/v17/DocumentLayout.backup.json
game_main_A/.vs/game_main_A/v17/Browse.VC.opendb
game_main_A/.vs/game_main_A/v17/ipch/AutoPCH/19fa8d393bdad888/GAME_DEFENSE.ipch
game_main_A/.vs/game_main_A/v17/ipch/AutoPCH/a838a6fa81309f15/GAME_CORE.ipch
game_main_A/.vs/game_main_A/v17/ipch/AutoPCH/fd4f73e6b52c8ac8/GAME_RULE.ipch
game_main_A/.vs/game_main_A/v17/DocumentLayout.json
game_main_A/game_main_A/game_main_A.vcxproj
game_main_A/game_main_A/game_main_A.vcxproj.user
game_main_A/game_main_A/x64/Debug/game_main.obj
game_main_A/game_main_A/x64/Debug/game_main_A.Build.CppClean.log
game_main_A/game_main_A/x64/Debug/game_main_A.exe.recipe
game_main_A/game_main_A/x64/Debug/game_main_A.log
game_main_A/game_main_A/x64/Debug/game_main_A.tlog/CL.command.1.tlog
game_main_A/game_main_A/x64/Debug/game_main_A.tlog/CL.read.1.tlog
game_main_A/game_main_A/x64/Debug/game_main_A.tlog/CL.write.1.tlog
game_main_A/game_main_A/x64/Debug/game_main_A.tlog/game_main_A.lastbuildstate
game_main_A/game_main_A/x64/Debug/game_main_A.tlog/unsuccessfulbuild
game_main_A/game_main_A/x64/Debug/game_main_A.vcxproj.FileListAbsolute.txt
game_main_A/game_main_A/x64/Debug/game_rule.obj
game_main_A/game_main_A/x64/Debug/vc143.idb
game_main_A/game_main_A/x64/Debug/vc143.pdb
